<ion-view title="{{'app_name' | translate }}" ng-controller="HomeCtrl">
    <ion-content class="has-header" scroll="false">
                <div class="item imageContainer item-image">
                    <a ng-if="language=='en'" href="#/app/events/day1/day1">
                        <img  src="img/programEN.jpg" >
                    </a>
                    <a ng-if="language=='hr'" href="#/app/events/day1/day1">
                        <img class="pict" src="img/programHR.jpg" >
                    </a>
                </div>
                <div class="item item-image imageContainer">
                    <a ng-if="language=='en'" href="#/app/map">
                        <img class="pict" src="img/mjestoEN.jpg">
                    </a>
                    <a ng-if="language=='hr'" href="#/app/map">
                        <img class="pict" src="img/mjestoHR.jpg">
                    </a>
                </div>
                <div class="item item-image imageContainer2">
                    <a ng-if="language=='en'" href="#/app/renaissance">
                        <img class="pict" src="img/renesansaEN.jpg" >
                    </a>
                    <a ng-if="language=='hr'" href="#/app/renaissance">
                        <img class="pict" src="img/renesansaHR.jpg" >
                    </a>
                </div>
    </ion-content>
</ion-view>