/* Empty. Add your own CSS if you like */

p{
    margin: 1em;
}

.text-justified{
    text-align: justify;
}

.bold{
    font-weight: bold;
}

.ren_letter{
    /* styling if needed - depends on design */
    height: 50px;
    width: 50px;
}

.centered{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.box{
    height: 20em;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.pink{
    background-color: pink;
}
