<ion-view title="Kontakt">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <img src="img/tz-logo-transparent.png" class="centered">
        <p><m class="bold">Adresa:</m><br>Trg bana Josipa Jelačića 7, 48000 Koprivnica</p>
        <p><m class="bold">Telefon:</m><br>+385 48 621 433</p>
        <p><m class="bold">Fax:</m><br>+385 48 623 178</p>
        <p><m class="bold">Web:</m><br><a href="http://www.koprivnicatourism.com/">www.koprivnicatourism.com</a><br>
            <a href="http://www.renesansnifestival.hr/">www.renesansnifestival.hr</a></p>
        <p><m class="bold">E-mail:</m><br>tzg-koprivnica@kc.t-com.hr</p>



    </ion-content>
</ion-view>
