<ion-view title="Renesansi festival">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
        <ion-item href="#/app/renaissance">
           O renesansi
        </ion-item>
        <ion-item href="#/app/events">
           Raspored programa
        </ion-item>
        <ion-item href="#/app/map">
           Karta
        </ion-item>
        <ion-item href="#/app/sponsors">
           Sponzori
        </ion-item>
        <ion-item href="#/app/aboutUs">
           O nama
        </ion-item>
        <ion-item href="#/app/language">
           Jezik
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
