<ion-view title="{{'menu_event' | translate}}">
    <ion-content class="has-header" ng-controller="EventsDetailsCtrl">
        <div class="list card">
            <div class="item item-thumbnail-left item-text-wrap">
                <img ng-src="{{img}}">
                <p>{{time}}</p>
                <h2>{{title}}</h2>
                <p ng-if="description!='null'">{{description}}</p>
            </div>
            <div class="item item-image">
                <img ng-src="{{img2}}">
            </div>
            <div ng-repeat="item in detail" class="item item-icon-left item-text-wrap">
                <i class="icon ion-ionic energized"></i>
                <p>{{item}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>